extends layout
block content
	.container
		.row
			h4.center.teal-text Manage Repairs/Maintenance Requests
		.row
			h5.teal-text Pending Requests
			table.highlight#f-lists
		.row
			h5.teal-text Resolved Requests?
			table.highlight#s-lists
		.row
			h5.teal-text Escalated Requests
			table.highlight#escalated-lists
		.row
			h5#add-staff.teal-text Add Staffs
			form(method='post',action='admin/add')
				div#holder
					ul.collection#lists.f-lists.col.s6


	script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js")
	script(src="javascripts/manageAdmin.js")