extends layout

block content
	.container
		.row
			.card-panel
				h4 Dashboard
			.row
				h5 Approved Requests
				ul.collection.col.s6#display-processing
			.row
				h5 Maintenance/Repairs To Do
				ul.collectiondiv#todo
	script(src="javascripts/manageDashboard.js")