doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js")
    script(src="javascripts/general1.js")
    
    
  body
    nav
      .nav-wrapper.teal
        a.brand-logo(href='/') Maintenance Tracker
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href='/dashboard') Home
          li
            a(href='/users') User
          li.login
            a(href='/signin') Sign In
          li.login
            a(href='/signup') Sign Up
          li.signed-in
            a(href='/requests') Make Request
          li#note
            a(href='/dashboard') New notification
          li.signed-in
            a(href="/signout") Sign Out
        ul#mobile-demo.side-nav.teal.white-text
          li
            a(href='/dashboard') Home
          li
            a(href='/users') User
          li#note
            a(href='/users') new Notification
          li.login
            a(href='/signin') Sign In
          li.login
            a(href='/signup') Sign Up
          li.signed-in
            a(href='/requests') Make Request
          li.signed-in
            a(href="/signout") Sign Out
    block content
    
    //div.container
      footer
        p &copy; 2016, All rights reserved
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    //script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/general.js")
    script(src="javascripts/manageRequests.js")
    script(src="javascripts/materialize.js")
    script $(function(){$(".button-collapse").sideNav()})

    


    

