extends layout

block content
	h5.center Make Maintenance/Repairs Request
	.container
		form(method="POST", action="requests/add")
			.row
				.input-field
					input(type='text',name='subject',id='subject')
					label(for='subject') Subject
				.input-field
					textarea(name='message',id='message',class="materialize-textarea",placeholder='Enter complaints...')
					label(for='message') Description
				button.btn.waves-effect.waves-light(type='submit', name='action', id="make_request") Submit
